<!DOCTYPE html>
<html>
    <%- include('./partials/head.ejs') %>
    <body style="background-image: -webkit-linear-gradient(65deg, rgb(238, 106, 58) 50%, rgb(250, 201, 183) 50%)">

    <div class="box" id="heading" style="background-color: rgb(238, 106, 58);">
        <h1> <%= listTitle %></h1>
    </div>

    <div class="box">
        <p style="color: rgb(241, 85, 28)">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam tempora quos sit magni sequi praesentium aperiam ab quibusdam, quia error vero consectetur dignissimos doloribus sapiente eveniet officiis? Nemo, id molestiae
        <p> 
    </div>
        
    <%- include('./partials/footer.ejs') %>
        <script src="" async defer></script>
    </body>
</html>